<!doctype html>

<html lang="en">
<head>
  {% load static %}
  {% load staticfiles %}
  <meta charset="utf-8">
  <title>UrlsShotener</title>
  <link rel="icon" type="image/png" href="{% static '/img/icon.png' %}"/>

<!--Style-->

  <link rel="stylesheet" href="{% static '/css/reset.css' %}">
  <link rel="stylesheet" href="{% static '/css/style.css' %}">
  <link rel="stylesheet" href="{% static '/css/style-responsive.css' %}">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>

<body>

<!--Preloader-->


<div class="preloader" id="preloader">
    <div class="item">
      <div class="spinner">
      </div>
    </div>
</div>

<div class="opacity-nav">

        <div class="menu-index" id="buttons" style="z-index:999999">
        <i class="fa  fa-close"></i>
        </div>

</div>


  <!--Header-->
  <header id="fullscreen">

      <div class="logo" id="full"><a class="ajax-link" href="index.html">UrlsShotener</a></div>


  </header>

  <div class="clear"></div>

  <!--Content-->

  <div class="content" id="ajax-content">


        <div class="text-intro" id="site-type">

          <div id="label-text">
            <h1>Change your link</h1>
            <h1 class="typewrite"><span>|</span></h1> <!--Change on script.js-->
          </div>
          <div id="short-url-text" class="default-hide short-url-text">
            <h1>Your short url here:</h1>
            <h1><a href="URL" id="short-url"></a></h1>
          </div>


            <form class="form-intro">
              <div class="form-group">
                <label for="long_url">Your link</label>
                <input type="text" class="form-control" id="long_url" placeholder="https://long/D%3D%2D%D%3D%2D%D%3D%2D%D%3D%2D%">
                <div class="invalid-feedback" id="long_url_feedback"></div>
              </div>
              <div class="form-group">
                <label for="life_span">Link life days</label>
                <select class="form-control" id="life_span">
                  <option selected="selected">1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
              <a  id="send_url" class="btn btn-primary">Get shortened link</a>
            </form>


          <p>Shorten your link quickly'{% url 'short_url' %}'</p>

        </div>





  </div>

  <!--Home Sidebar-->

<div id="ajax-sidebar" >

  <div class="home-sidebar" style="background-image:url('{% static '/img/home-sidebar.jpg' %}')" id="hero">

    <div class="parallax-option" data-jkit="[parallax:strength=0.8;axis=both]">

      <div class="parallax parallax1"><img src="{% static '/img/business-card-2.png' %}"></div>

    </div>

    <div class="parallax-option" data-jkit="[parallax:strength=0.3;axis=both]">

      <div class="parallax parallax1"><img src="{% static '/img/business-card.png' %}"></div>

    </div>

  </div>

</div>


  <!--Footer-->





<!--Scripts-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery.easing.min.js' %}"></script>
<script src="{% static 'js/modernizr.custom.42534.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jquery.waitforimages.js' %}" type="text/javascript"></script>
<script src="{% static 'js/typed.js' %}" type="text/javascript"></script>
<script src="{% static 'js/masonry.pkgd.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/imagesloaded.pkgd.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jquery.jkit.1.2.16.min.js' %}"></script>
<script src="{% static 'js/script.js' %}" type="text/javascript"></script>
<script src="{% static 'js/send.url.js' %}" type="text/javascript"></script>
<script>
$('#button, #buttons').on('click', function() {
$( ".opacity-nav" ).fadeToggle( "slow", "linear" );
// Animation complete.
});
</script>


</body>
</html>
